---
import { SITE } from "@/config";

/**
 * 组件属性接口
 *
 * @property noMarginTop - 是否移除顶部外边距
 */
export interface Props {
  noMarginTop?: boolean;
}

const currentYear = new Date().getFullYear();

const { noMarginTop = false } = Astro.props;
---

<footer class:list={["w-full", { "mt-auto": !noMarginTop }]}>
  <div
    class="flex flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4"
  >
    <!-- 版权信息区：自定义链接 + ICP 备案号 -->
    <div
      class="mx-auto my-2 flex flex-col items-center text-[15px] whitespace-nowrap text-[var(--text-secondary)] sm:flex-row"
    >
      <span>&#169; {currentYear} {SITE.author}. All rights reserved.</span>
      <!-- 自定义页脚链接（如统计页面） -->
      {
        SITE.customFooterLink.enabled && (
          <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
          <a href={SITE.customFooterLink.url} target="_blank" rel="noopener noreferrer">
            {SITE.customFooterLink.text}
          </a>
        )
      }

      <!-- ICP 备案号（中国大陆特有） -->
      {
        SITE.icp && (
          <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
          <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer">
            备案号 {SITE.icp}
          </a>
        )
      }
    </div>
  </div>
</footer>
